/* common rules */

.display-inline-block{
  display: inline-block;
}
.width-100{
  width:100%;
}
.bg-black {
  background: #000000;
}

.bg-white {
  background: #ffffff;
}
.bg-dark-blue {
  background-color:#2C3E50;
}
.bg-blue{
  background-color: #3A546D;
}
.bg-light-green{
  background-color: #1ABC9C
}
.color-white {
  color: #ffffff;
}
.color-black {
  color: #000000;
}
.py-30 {
padding-bottom: 30px;
padding-top: 30px;
}

.mb-15{
  margin-bottom: 15px;
}
/* components */


.star-divisor .line {
 width: 20vw;
 /*border:2px solid white;*/
 height: 2px;
 margin-bottom:15px;
}

.star-divisor i.fa-star{
  font-size:60px;
}

/* page sections */
.navbar {
margin-bottom: 0;
border:0;
}

.bl-navbar {
  background-color: #2c3e50;
  color: #fff;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
}

.bl-navbar .navbar-brand {
  font-size:24px;
  font-weight: bolder;
}

.bl-navbar .navbar-nav>li>a {
  font-weight: bolder;
}

.bl-navbar .navbar-brand:hover, .bl-navbar .navbar-nav>li>a:hover {
  color: #1ABC9C;
}
.start-bootstrap{
  text-align: center;
  background-color: #1ABC9C;
}

.start-bootstrap img.main-image{
  width: 40%;
  padding:20px;
}

.start-bootstrap .title {
  font-size:35px;
  color: #ffffff;
  font-weight: bold;
}

.start-bootstrap h2.subtitle {
  font-size: 15px;
  color: white;
}


.portfolio {
  text-align: center;
  background-color: #ffffff;
}
 .portfolio  h1{
   font-size: 40px;
   color: #000000;
 }



 .portfolio .image{
   margin-bottom: 40px;
 }

 .about {
   background-color:#1ABC9C;
   text-align: center;
 }

.about .title {
  font-size: 40px;
  color: #ffffff;
}


.about  p.testo{
  text-align: center;
  font-size:20px;
  color: #ffffff;
  padding: 0 10px;
}


.about  a.btn-default{
  background-color:#1ABC9C;
  text-align: center;
  margin:20px;
}


.about [class*="col-"] a {
  font-size:30px;
  color: #ffffff;
}

.container.contact-me{
  padding:0 60px;
  text-align: center;
}
.bl-form ::placeholder, .bl-form input, .bl-form textarea{
  color: #2c3e50;
  font-size: 19px;
  /* line-height: 2.5; */

}

.bl-form .form-group{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

}

.bl-form input, .bl-form textarea{
  border: 0;
  border-radius: 0;
  /* border-bottom: 1px solid #ccc; */
  box-shadow: none;
  padding-left: 0;
}

 .bl-form .send {
  text-align: left;
}

.bl-form .btn-default {
  text-align: left;
  background-color:#1ABC9C;
  color: #ffffff;
  margin-bottom: 10px;
}

.info{
  text-align: center;
  padding:10px;
}

.info .row h4{
  margin: 20px 0;
}

.info .row h5{
  margin: 10px 0;
}
.info .social i {
  font-size: 18px;
 margin: 0px 5px;
 border: 1px solid #fff;
 border-radius: 50%;
 padding: 10px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.start-bootstrap .title {
    font-size:50px;
  }

.start-bootstrap h2.subtitle {
    font-size: 28px;
  }

.portfolio  h1{
    font-size: 50px;
  }

.about .title {
    font-size: 50px;
  }

.about  p.testo{
  text-align: center;
  font-size:20px;
  color: #ffffff;
}

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .start-bootstrap img.main-image{
    width: 20%;
    padding:20px;
  }

}
